h1{
    background-color: aquamarine;
    color: red;
    border-radius: 20px;
    border: 5px solid black ;
    text-align: center;
    width: 400px;
    height: 100px;
    margin-left: 400px;
    margin-top: 50px;
    padding-top: 30px;
    box-sizing: border-box;
}
.box1{
    width: 400px;
    height: 400px;
    background-color: red;
    margin: 100px auto;
    border: 10px solid rgba(255, 6, 6, 1);
    box-sizing: border-box;
    border-radius: 10px;
}
.box2{
    width: 350px;
    height: 150px;
    background-color: aqua;
    margin: 30px auto;

}
.box3{
    width: 350px;
    height: 150px;
    background-color: aqua;
    margin: 30px auto;

}
